.cproject
#.gitignore
.project
.settings/
main
build/
symex-vp/vp/dependencies/systemc-dist/
#*.bin
systemc-*
*.asm
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
symex-vp/build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbproject/
symex-vp/sw/basic-gcov/main.*
symex-vp/sw/**/*.o
py/Blender/Data/__pycache__/
*.cpython-38.pyc

# tex auxillary files
*.log
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.lof
*.lot

*.fls
*.fdb_latexmk
#*.pdf

# bibliography related
*-blx.bib
*.run.xml
*.bbl
*.blg
*.bcf

# glossary related
glossary.ist
*.glo
*.acn
*.acr
*.alg
*.glg
*.gls

*.pyc
